*{
  box-sizing: border-box;
  list-style: none;
}
a:link{
  text-decoration: none;
}

.chat-side a{
  color: white;
  font-size: 16px;
}  

.wrapper{
  width: 100%;
  height: 100%;
  display: flex;
  .chat-side{
    background-color: #2f3e51;
    width: 300px;
    height: 100%;
    color: white;
    &__side-header{
      background-color: #253141;
      height: 100px;
      width: 300px;
      align-items: center;
      padding: 0 20px;
      font-weight: bold;
      display: flex;
      &__box{
        width: 100%;
        &__user-name{
          font-size: 16px;
          font-style: bold;
          float: left;
        }
        &__menu{
          &__icon{
            text-align: right;
            float: right;
            margin-left: 0.3rem;
          }
        }
      }
    }
    &__groups{
      height: calc(100vh - 100px);
      padding: 20px;
      &__group{
        &__group-name{
          font-size: 15px;
          margin-bottom: 5px;
        }
        &__group-message{
          font-size: 11px;
          margin-bottom: 40px;
        }
      }
    }
  }

  .chat-main{
    width: calc(100vw - 300px);
    float: left;
    &__header{
      height: 100px;
      width: 100%;
      padding: 0 40px;
      border-bottom:solid 1px #eee;
      display: flex;
      justify-content: space-between;
      &__left-box{
        margin-top: 35px;
        &__current-group{
          font-size: 20px;
          color: black;
          margin-bottom: 15px;
        }
        &__member-list{
          font-size: 12px;
          color: #999;
          display: flex;
        }
      }
      
    }
    &__messages{
      background-color: #fafafa;
      height: calc(100vh - 190px);
      padding: 46px 40px;
      &__message{
        width: 100%;
        padding-bottom: 40px;
      }
    }
    &__form{
      height: 90px;
      padding: 20px 40px;
      background-color: #ddd;
      position: relative;
      display: flex;
    }
  }
}

.btn{
  background-color: white;
  height: 38px;
  line-height: 100px;
  border: solid 1px #38aef0;
  display: flex;
  margin-top: 30px;
}

a{
  color: #38aef0;
  padding: 0 20px;
  text-align: center;
  
}


.upper-message{
  display: flex;
  margin-bottom: 10px;
}

.upper-message__user-name{
  font-size: 16px;
  font-weight: bold;
  float: left;
}

.upper-message__date{
  font-size: 12px;
  color: #999;
  padding-left: 10px;
  float: left;
}

.lower-message{
  font-size: 14px;
  margin-bottom: 10px;
}

form{
  display: flex;
}

.form__mask{
  position: relative;
  width: 100%;
}

.new_message{
  width: 100%;
}

.form__message{
  background-color: white;
  height: 50px;
  width: 100%;
  padding: 0 40px 0 10px;
  line-height: 50px;
  position: relative;
  float: left;
  border: none;
}

.form__image{
  font-size: 1.3rem;
  position: absolute;
  line-height: 50px;
  right: 10px;
}

.hidden{
  display: none;
}

.form__submit{
  height: 50px;
  padding: 0 30px;
  margin-left: 15px;
  line-height: 50px;
  background-color: #38aef0;
  color: white;
  cursor: pointer;
}
